/* estilos ára index.html*/



body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #c3d4a2;
}

header {
    background-color: rgba(0, 22, 13, 255);
    color: #f0dc89;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}

#logo {
    height: 150px;
}

#img-topo {
    width: 100%;
    height: 300px;
    background-image: url("../img/img/imagem-topo.png");
    min-height: 300px;
    background-size: cover;
}


nav {
    background-color: rgba(0, 22, 13, 255);
    padding: 2px 0 px 5px 0px;
    text-align: center;
}


nav a {
    text-decoration: none;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

nav a:hover {
    color: #f0dc89;
    font-weight: bold;
}

#container {
    padding: 50px 100px;
    text-align: center;
}

h1 {
    color: #22577a;
}


#destaque {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

#destaque a {
    text-decoration: none;
    opacity: 0.9;
}

#destaque a:hover {
    opacity: 1.0;
}


footer {
    background-color: rgba(0, 22, 13, 255);
    color: white;
    margin-top: auto;
    text-align: center;
    font-weight: lighter;
    margin-top: auto;
    padding: 10px 0px;
}


/*estilos para sobre.html*/

#conteudo-empresa {
    display: flex;
}

#conteudo-empresa-esquerda {
    width: 50%;
}

#conteudo-empresa-direita {
    width: 50%;
}

#conteudo-empresa-direita p {
    padding-left: 25px;
    text-align: justify;
}

#img-empresa {
    width: 100%;
    height: 100%;
}

#selo-melhores-empresas {
    height: 30%;
    margin-top: 35px;
}

/* Estilo para solucoes.html*/

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #22577a;
    font-size: 28px;
}

.destaque-produtos {
    padding: 0px 15px;
    background-color: rgba(98, 171, 130, 255);
    margin: 20px;
}

.destaque-produtos a {
    text-decoration: none;
    color: goldenrod;
    font-size: 25px;
}

.destaque-produtos a:hover {
    font-weight: bold;
}

/*Estilos para sucesso.html*/

.detalhes-caso {
    display: flex;
    margin: 15px 0px;
}

.detalhes-caso img {
    padding-right: 30px;
}


.detalhes-caso-texto {
    text-align: start;
}

/* estilo do contato.html*/

#frm-container {
    display: flex;
}

#frm-labels {
    background-color: #ebcd42;
    width: 50%;
    text-align: right;
    padding-right: 15px;
}

#frm-fields {
    background-color: #22577a;
    width: 50%;
    text-align: left;
    padding-left: 15px;
}